/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* HEADER */
.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}
.headerImg {
    grid-area: logo;
    padding: 0 8px 0 2rem;
    height: 65px;
}
.headerNav {
    display: flex;
    align-items: center;
    grid-area: navbar;
}
.headerNavLink {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}
.headerNavLink[data-active=true] {
    color: green;
}
.headerNavLink:hover {
    color: green;
}
.headerSignup {
    display: flex;
    align-items: center;
    grid-area: button;
    padding: 2rem;
    color: green;
    font-weight: 600;
}

@media screen and (min-width: 601px) {
    .header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . navbar button";
    }
    .headerNavLink[data-active=true] {
        border-top: 3px solid green;
    }
    .headerNavLink:hover {
        border-top: 3px solid green;
    }
}
@media screen and (max-width: 600px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . button""navbar navbar navbar";
    }
    .headerimg {
        order: 0;
    }
    .headerSignup {
        order: 1;
    }
    .headerNav {
        order: 2;
    }
    .headerNavLink {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }
    .headerNavLink[data-active=true] {
        border-bottom-color: green;
    }
    .headerNavLink:hover {
        border-bottom-color: green;
    }
}

 /* MAIN */
.main {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

/* SEARCH */
.search{
    margin: 1rem 0 2rem 0;
}
.searchHeaderTitle {
    margin-bottom: 0.5rem;
}
.searchHeaderSubtitle {
    margin-top: 0;
}
.searchForm {
    display: inline-flex;
    max-width: 100%;
    overflow:  auto;
}
.searchFormWrapicon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}
.searchFormWrapiconIcon {
    margin-left: 0.1rem;
}
.searchFormInput {
    border-right: none;
    border-left: none ;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}
.searchFormInput::placeholder {
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    color: #00000069;
}
.searchFormButton {
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .searchForm {
        display: flex;
        width: 100%;
    }

    .searchFormInput {
        flex: 1;
    }

    .searchFormButtonText {
        display: none;
    }

    .searchFormButtonIcon {
        display: block;
    }
}

@media screen and (min-width: 601px) {
    .searchFormButtonText {
        display: block;
    }

    .searchFormButtonIcon {
        display: none !important;
    }
}

/* TOP10 */
.top10Popular, .top10Main {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
}
.top10 {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
}
.top10Main {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}
.top10MainHeader {
    grid-column: 1/-1;
}
.top10MainHeaderTitle {
    margin: 0;
}
.top10MainCard {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}
.top10MainCard:hover {
    transform: scale(1.02);
}
.top10MainCardFigure {
    margin: 0;
}
.top10MainCardFigureImg {
height: 7rem;
object-fit: cover;
max-width: 100%;
width: 100%;
max-height: 100%;
border-radius: 1rem 1rem 0 0;
}
.top10MainCardFigureCaptionTitle {
    margin: 0.25rem 0.75rem 0 0.75rem;
}
.top10MainCardFigureCaptionDescLink {
    font-weight: bold;
}
.top10MainCardGrade {
    margin: 0 0.75rem 0.25rem 0.75rem;
}
/* ICON */
.icon {
    display: inline-block;
    box-sizing: content-box;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentColor;
}
.top10MainCardGradeIcon[data-active="true"] {
    color: green;
}
.top10MainCardGradeIcon[data-active="false"] {
    color: #d9d9d9;
}
.top10MainViewmore {
    font-weight: bold;
}
.top10Popular {
    display: grid;
    row-gap: 2rem;
    align-items: start;
    grid-template-rows: auto repeat(3, 1fr);
}
.top10PopularTitle {
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.top10PopularWrapcontent {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}
.top10PopularWrapcontentWrapimg {
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}
.top10PopularWrapcontentWrapimgImg {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.top10PopularWrapcontentContent {
    display: flex;
    flex-direction: column;
}
.top10PopularWrapcontentContentWhitespace {
    flex:1;
}

@media (max-width: 1440px) {
    .top10 {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .top10Popular {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 10rem;
        column-gap: 2rem;
        grid-row-start: 1;
    }

    .top10PopularTitle {
        grid-column: 1/-1;
    }
}

@media (min-width: 925px) {
    .top10Main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 925px) and (min-width: 650px) {
    .top10Main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .top10Main {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px) {
    .top10Popular {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 9rem);
    }
}

.footer {
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 4rem;
}

.footerColumnwrapper {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.footerColumnwrapperColumn {
    width: 30%;
    padding: 2rem 2rem;
}

.footerColumnwrapperColumnLink {
    display: block;
    margin: 1rem 0;
}

.footerColumnwrapperColumnLink:hover {
    text-decoration: underline;
}

@media (max-width: 750px) {
    .footerColumnwrapper {
        flex-direction: column;
        padding: 2rem;
    }

    .footerColumnwrapperColumn {
        width: 100%;
        padding: 0;
        margin: 1rem 0;
    }

    .footerColumnwrapperColumn:first-child {
        margin-top: 0;
    }

    .footerColumnwrapperColumn:last-child {
        margin-bottom: 0;
    }

    .footerColumnwrapperColumnTitle {
        margin: 0;
    }

    .footerColumnwrapperColumnLink:last-child {
        margin-bottom: 0;
    }
}